.design{
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(0, 247, 255);
}

.paradesign{
    padding: 10px;
    text-align: center;
}

.para2design{
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

.para3{
    padding-top: 10px;
}

.center{
    text-align: center;
}

.blackborder{
    margin-top: 3px;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    background-color: #f6f8fa;
    padding-left: 10px;
    border-radius: 10px;
}

.spanstyle{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px; 
}

.spans{
    padding: 2px;
    margin-right: 2px;
}
.properpadding{
    padding: 10px;
}